@import 'react-quill/dist/quill.snow.css';

.quill-editor {
  background: white;
}

.quill-editor .ql-container {
  min-height: 200px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.quill-editor .ql-toolbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.quill-editor .ql-editor {
  min-height: 200px;
} 